**/target
**/node_modules
**/dist
**/.git
**/.idea
**/.env
**/.env.*
**/*.pem
**/*.key
**/*.log
**/.terraform
**/*.tfstate*
**/*.tfplan
**/review.tfvars.json
frontend
k8s
.github
*.zip
deployment/reports
